
/* FOOTER */
.footer {
  background: #000;
  color: #fff;
  padding-top: 30px;
  margin-top: 5%;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 0 30px;
}

.footer-logo {
  width: 60px;
}
.footer-img{
  display: flex;
  align-items: center;
}
.footer-img h2{
  font-size: 35px;
  color: #ff6600;
}
.footer-text {
  margin: 15px 0;
  color: #ccc;
}

.social-icons {
  display: flex;
  gap: 15px;
  font-size: 20px;
  color: #ff6600;
}

.footer-col h1 {
  margin-bottom: 15px;
  color: #ff6600;
  text-align: left;   
  align-items: flex-start; 
  font-size: 20px;
}

.footer-col a,
.footer-col p {
  display: block;
  color: #ccc;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 1.1rem;
  text-align: left;   
  align-items: flex-start;   
}

.footer-col a:hover {
  color: #ff6600;
}

/* BOTTOM BAR */
.footer-bottom {
  border-top: 1px solid #222;
  margin-top: 40px;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.85rem;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
}

.footer-links a:hover {
  color: #fff;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}
