
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  background-color:whitesmoke;
  /* gap: 10%; */
}
.logo-image{
    height: 50px;
    width: 50px;
}
.navbar-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  text-decoration: none;
  
}
.navbar-links li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  color: black;
}
.enroll-button {
  padding: 10px 20px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}   
.enroll-button:hover {
  background-color: #e65c00;
}
.navbar-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Modal Background */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Box */
.modal {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  position: relative;
  animation: slideDown 0.3s ease;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

/* Form */
.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-form button {
  padding: 10px;
  background: #ff6600;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.register-form button:hover {
  background: #e65c00;
}

/* Animation */
@keyframes slideDown {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
